@model List<WebAppFinal.Models.WeatherForecast>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">

    <div class="row">

        @{
            foreach (var item in Model)
            {
                <div class="col-md-6">
                    <figure class="itemside  mb-3">
                        <figcaption class="info">
                            <p>
                                <b>@item.TemperatureC</b>
                            </p>
                            <span>@item.Summary</span>
                        </figcaption>
                    </figure>
                </div>
            }
        }
    </div>

</div>

